<div class="blank-state">
  <div class="blank-orbits">

    <!-- Ellipse outlines -->


    <!-- Orbiting glyphs -->
    <div class="glyph g1">Ѻ</div>
    <div class="glyph g2">Ψ</div>
    <div class="glyph g3">Σ</div>
    <div class="glyph g4">Ł</div>
    <div class="glyph g5">𐌍</div>
    <div class="glyph g6">∴</div>
    <div class="glyph g7">λ</div>
    <div class="glyph g8">☽</div>
    <div class="glyph g9">∷</div>
    <div class="glyph g10">Ŧ</div>
    <div class="glyph g11">🜃</div>
    <div class="glyph g12">⋱</div>
    <div class="glyph g13">∉</div>
    <div class="glyph g14">⟐</div>
    <div class="glyph g15">Ϟ</div>

    <div class="glyph g16">Ȑ</div>
    <div class="glyph g17">⋗</div>
    <div class="glyph g18">∵</div>
    <div class="glyph g19">✦</div>



    <div class="blank-inner">
      <h1>Sculpting the chaos.</h1>
      <p>Under Construction. <br>
        The architect is still rearranging atoms.</p>
    </div>
  </div>
</div>





