  <!-- Header -->
  <header>
    <div class="left">
      <a class="brand brand-home" href="/">low entropy works</a>
      <div class="theme-toggle">
        <button class="light-switcher" aria-label="Switch to light mode">✦</button>
        <span class="separator">/</span>
        <button class="dark-switcher" aria-label="Switch to dark mode">☽</button>
      </div>
    </div>

    <div class="center">
      <a href="mailto:hi@lowentropy.works">hi@lowentropy.works</a><br />
      <a href="https://www.linkedin.com/in/tati-bondarenko">linkedin</a>
    </div>

    <div class="right">
      <a href="/pages/ds_projects.html">data science projects</a><br />
      <a href="#">case studies</a><br />
      <a href="#">about me</a><br />
      <a href="/pages/contact.html">contact</a>

    </div>
  </header>