
/* =========================================
   Layout: Hero
========================================= */

.hero {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

/* =========================================
   Layout: Content Columns
========================================= */


.content {
  display: grid;
  grid-template-columns: 1.3fr 2.5fr 0.5fr;
  gap: 1rem;
  padding: 1rem 1rem 2rem;
  max-width: 1500px;
  margin: 0 auto;
}

.content .col-left-about {
  max-width: 99%;
}

.content .col-center-artifacts {
  padding-top: 6.25rem;
  padding-left: 2rem;
}


/* Right glyph column must be a positioned, viewport-height container */
.col-right-symbols {
  position: sticky;
  top: 0;
  height: 100vh;
  pointer-events: none; /* don’t block mouse */
}




/* =========================================
   Mobile Layout
========================================= */
@media (max-width: 830px) {

  /* Stack into one column */
  .content {
    grid-template-columns: 1fr;
    padding-bottom: 1rem
  }

  /* Don’t push this section down so far on mobile */
  .col-center-artifacts {
    padding-top: 2rem;
  }

  /* Hide the glyph column on mobile */
  .col-right-symbols {
    display: none;
  }
  
  .signal-table .col-note {
    display: none; /* hide explanation on tiny screens */
  }
}



