/* =========================================
   Theme Tokens
========================================= */

:root {
  --clr-bg: #ffffff;
  --clr-text: #000000;
  --clr-divider: #1a1a1a;
  --clr-cobalt:#0800ff;

  /* Accent Colors (dots) */
  --clr-midblue: #82acff;
  --clr-coral: #ffa998;
  --clr-lightblue: #b0bef4;
  --clr-brightblue: #5076ff;
}

/* Light Theme */
body[data-theme="light"] {
  --clr-bg: #ffffff;
  --clr-text: #000000;
  --clr-divider: #1a1a1a;
  --plot-font: 'Shippori Mincho B1', serif;
  --plot-axis: #000000;
  --plot-grid: #000000c3;
  --plot-trace: #000000af;
}

/* Dark Theme */
body[data-theme="dark"] {
  --clr-bg: #0800ff;
  --clr-text: #ffffff;
  --clr-divider: #ffffff66;
  --plot-font: 'Shippori Mincho B1', serif;
  --plot-axis: #ffffff;
  --plot-grid: #ffffffc3;
  --plot-trace: #ffffffaf;
}






